.env
Code/miscTestFile.py
GeneratedSolutions/
.pytest_cache/
/.idea/
/Code/data/HumanResults.csv
/Code/data/SampleResults.csv
Code/__pychache__/
Tests/__pychache__/
__pychache__/
QuestionImplementations/MySolutions/
HumanSolutions/
/Code/data/RawGenResults.csv
/Code/data/RawHumanResults.csv
/Logs/SystemUnitTests.log
/Logs/GenerationResponses.log
