.env
Code/miscTestFile.py
GeneratedSolutions/
.pytest_cache/
/.idea/
/Data/HumanResults.csv
/Data/SampleResults.csv
Code/__pychache__/
Tests/__pychache__/
__pychache__/
QuestionImplementations/MySolutions/
HumanSolutions/
/Data/RawGenResults.csv
/Data/RawHumanResults.csv
/Logs/SystemUnitTests.log
/Logs/Main.log
/Logs/Results.log
/Data/SampleResults/
/Data/HumanResults/
/Data/RawSampleResults/
/Logs/
/Data/RawHumanResults/
.Rproj.user
/Data/genBackUp/
/Data/humanBackUp/
/Data/Backup/
