.env
Code/miscTestFile.py
GeneratedSolutions/
.pytest_cache/
/.idea/
/data/HumanResults.csv
/data/SampleResults.csv
Code/__pychache__/
Tests/__pychache__/
__pychache__/
QuestionImplementations/MySolutions/
HumanSolutions/
/data/RawGenResults.csv
/data/RawHumanResults.csv
/Logs/SystemUnitTests.log
/Logs/Main.log
/Logs/Results.log
/data/SampleResults/
/data/HumanResults/
/data/RawSampleResults/
/Logs/
/data/RawHumanResults/
